body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #D3D3D3, #808080); /* Градиентный фон от светлого к более темному */
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Легкая внутренняя тень для глубины */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #A9A9A9, #696969); /* Градиентный фон шапки */
    color: #fff;
    position: relative;
}

.separator {
    height: 5px;
    background-color: #DAA520; /* Полоска разделителя */
}

.exchange-name {
    font-size: 1.5rem;
}

.qr-code img {
    width: 100px;
    height: 100px;
}
.logo img {
    width: 300px;
    height: 300px;
}

.buy-sell {
    font-size: 1.2rem;
}

.currency-list {
    padding: 20px;
    flex: 1;
    background: linear-gradient(to bottom, #696969, #333333); /* Градиент для основного содержимого */
    color: #fff;
}

.currency-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.currency-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.currency-name {
    font-size: 1.2rem;
    flex: 1;
}

.currency-rate {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    width: auto;
}

.currency-rate span {
    margin: 0 5px;
}

.cross-rate-label, .crypto-label {
    margin: 10px 0 25px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}
