body {
    font-family: 'DejaVu Sans Mono', monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Мінімальна висота екрану */
}

.container {
    width: 100%;
    max-width: none;
    background: linear-gradient(to bottom, #171616, #0f0f0f);
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh; /* Розтягування на всю висоту екрану */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to bottom, #171616, #0f0f0f);
    color: #fff;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.currency-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #fff;
    background-color: #171616;
}

.currency-header h2 {
    margin: 0;
}

.currency-rates {
    display: flex;
    justify-content: space-between;
    background-color: #171616;
    color: #fff;
    padding: 10px;
    margin-top: 5px;
}

.currency-rate-item {
    flex: 1;
    text-align: center;
}

.currency-rate-item span {
    display: block;
    margin-bottom: 5px;
}

/* Стиль для колонок Купівля і Продаж */
.currency-rate-columns {
    display: flex;
    justify-content: space-between;
    background-color: #171616;
    padding: 10px;
}

.currency-rate-columns span {
    flex: 1;
    text-align: center;
}

/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
    .currency-header,
    .currency-rate-columns,
    .currency-rates {
        flex-direction: column;
        align-items: center;
    }
    
    .currency-rate-item, .currency-rate-columns span {
        width: auto;
        margin: 5px 0;
    }
}
